.topbar{
  background-color: #708090;
  overflow: hidden;
}

.topbar a {
  float:left;
  color: #F3F5F8;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 25px;
}

.topbar a:hover{
  background-color: #DCDCDC;
  color: black;
}


.container{
  margin:100px 20px 0px 0px;
  position: relative;
  display: block;
  
}

#picture1{
  height: 800px;
  margin-top: 60px;
}

#header{
  font-family: 'Bebas Neue', cursive;
  position: absolute;
  top:0px;
  left:800px;
  font-size: 50px;
  text-decoration: underline;
}

#dates{
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  position:absolute;
  top:200px;
  left:1100px;
  color: #8B0000;
}

#cities{
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  position: absolute;
  top: 200px;
  left: 800px;
  font-weight: bold;
}
